

.codeMob-main{
    background-color: #233142;
    border-radius: 1em;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 1px 4px 20px #000;
    width: 70vw;
    height: 80vh;
    margin: auto;
    padding: 1rem;
}

code{
    color: #fff;
    text-align: start;
}