.codeMob-main {
  background-color: #4e5ca9c9;
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 1px 4px 20px #000;
  width: 70vw;
  min-height: 80vh;
  margin: auto;
  padding: 1rem;
}
.code-style {
  text-align: start !important;
}
.code-btns {
  border: none;
  outline: none;
  background-color: #1e264b;
  color: #fff;
  padding: 0.3em 0.9em;
  border-radius: 0.25em;
  margin: 0 1em;
}
.btn-disabled {
  background-color: #49537d;
  border: none;
  outline: none;
  color: #7a7272;
  padding: 0.3em 0.9em;
  border-radius: 0.25em;
  transition: all 0.3s;
}
